@font-face { 
	font-family: Cormorant; 
	src: url('fonts/CormorantSC-Bold.ttf'); 
} 
@media (min-width:1000px) {
.thumbs-block {
    position:relative; 
    overflow: hidden;
    background-opacity: 0%;
    width: 1000px;
    height:240px;     
} 
.thumbs-block .thumbs {
    white-space: nowrap;
    text-align: center;
}
.thumbs-block .thumb {
    display: inline-block;
    margin-right: 4px;
}
#main {
	background-color: #FFFFFF;
	/*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
*/}
.scroll1 {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  fill-opacity: 0%;
  border-style: solid;
  border-color: gray;
  border-width: 1.5px;	
}
#logo{
	margin: 10px 30px 15px 40px;
  display:inline-block;
  vertical-align:middle;
}
.title{
	font-family: Cormorant;
	color: #4c3f77 ;
	font-size: 50px;
	text-align: center;
	width: 50%;
	height: auto;
    position: inherit;
}
#contact{
	box-sizing: border-box;
	text-align: right;
	width: 150px;
	height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 17px;
	display:inline-block;
	vertical-align:super;
	top: 20px;
	position: absolute;
    right: 6%;
}
.category {
	display:inline-block;
	vertical-align:baseline;
	margin: 10px 10px 10px 10px;
	padding-left: 2%;
	font-family: Cormorant;
	font-size: 25px;
	font-style: italic;
	color:black;
	text-decoration: none;
}
.category:hover{
	color: magenta;
}
#subtitle{
	font-size: 20px;
	color: black;
    display: inline-block;
	line-height: 35px; 
	font-family: times new roman;	
	}
#scroll1jpg{
	float: right;
    position: inherit;
	display: block;
	margin-right: 3%;
}
	#title1{
		display: inline-block;
	}
	.asd{
		border:1px; 
		border-color: white;
	}
	
		
	
	
	
	
	
	
}




